<div class="flex flex-wrap items-center justify-between gap-4 p-4">
  <!-- Search Filter -->
  @if (config().search; as searchConfig) {
    <div class="w-full md:w-100">
      <filter-search [config]="searchConfig" (searchChange)="searchChange($event)"></filter-search>
    </div>
  }

  <div class="w-full md:w-auto flex flex-col md:flex-row items-stretch md:items-center gap-4">
    <!-- Menu Filter -->
    @if (config().menu; as menuConfig) {
      <filter-menu [config]="menuConfig" (filtersApplied)="filtersApplied($event)"></filter-menu>
    }

    <!-- Date Filter -->
    @if (config().date; as dateConfig) {
      <filter-date [config]="dateConfig" (dateChange)="dateChange($event)"></filter-date>
    }

    <!-- Columns Filter -->
    @if (config().columns; as columnsConfig) {
      <filter-column
        [config]="columnsConfig"
        (columnsChange)="columnsChange($event)"
      ></filter-column>
    }

    <!-- View As Filter -->
    @if (config().viewAs; as viewAsConfig) {
      <filter-view-as
        [config]="viewAsConfig"
        (viewAsChange)="viewAsChange($event)"
      ></filter-view-as>
    }
  </div>
</div>
