.layout-topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 4rem;
    transition: width var(--transition-duration);
    display: flex;
    color: var(--topbar-item-text-color);
    background-color: var(--topbar-bg);
    box-shadow: none;
    border-bottom: 1px solid var(--surface-border);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .layout-topbar-start {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 17rem;
        background-color: var(--topbar-start-bg);

        .layout-topbar-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            .layout-topbar-logo-slim {
                display: none;
            }
        }

        .layout-menu-button {
            position: absolute;
            top: 50%;
            margin-top: -0.9rem;
            right: -1.25rem;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 0.2rem;
            color: var(--topbar-menu-button-text-color);
            background-color: var(--topbar-menu-button-bg);
            box-shadow: none;
            transition: background-color var(--transition-duration);
            cursor: pointer;

            &:hover {
                background-color: var(--topbar-menu-button-hover-bg);
            }

            i {
                font-size: 1.6rem;
                transition: transform var(--transition-duration);
            }
        }

        .layout-topbar-mobile-button {
            display: none;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            i {
                font-size: large;
            }
        }
    }

    .layout-topbar-end {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        .layout-megamenu {
            background: none;

            .p-megamenu-submenu-icon,
            .p-megamenu-root-list > .p-megamenu-item > .p-megamenu-item-content > .p-megamenu-item-link,
            .p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover .p-megamenu-submenu-icon,
            .p-megamenu-root-list > .p-megamenu-item.p-focus > .p-megamenu-item-content,
            .p-megamenu-root-list > .p-megamenu-item.p-focus > .p-megamenu-item-content .p-megamenu-submenu-icon {
                color: var(--topbar-item-text-color);
            }

            .p-megamenu-root-list > .p-megamenu-item:not(.p-disabled) > .p-megamenu-item-content:hover,
            .p-megamenu-root-list > .p-megamenu-item-active > .p-megamenu-item-content,
            .p-megamenu-root-list > .p-megamenu-item.p-focus > .p-megamenu-item-content {
                color: unset;
                background: unset;
            }
        }

        .layout-topbar-actions-end {
            .layout-topbar-items {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                > li {
                    position: relative;

                    > a,
                    .app-config-button {
                        width: 2.5rem;
                        height: 2.5rem;
                        user-select: none;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: var(--topbar-item-text-color);

                        i {
                            font-size: 1.25rem;
                        }

                        &:hover {
                            background-color: var(--topbar-item-hover-bg);
                            transition: background-color var(--transition-duration);
                        }
                    }

                    > div {
                        position: absolute;
                        top: 3.25rem;
                        right: 0;
                        min-width: 22rem;
                        padding: 1rem;
                        transform-origin: top;
                        background: var(--surface-overlay);
                        color: var(--text-color);
                        border-bottom-left-radius: var(--border-radius);
                        border-bottom-right-radius: var(--border-radius);
                        box-shadow: none;
                        border-left: 1px solid var(--surface-border);
                        border-right: 1px solid var(--surface-border);
                        border-bottom: 1px solid var(--surface-border);
                        border-top: none;
                    }

                    &.layout-topbar-search {
                        position: static;

                        .layout-search-panel {
                            background: var(--surface-overlay);
                            height: 4rem;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1000;
                            transform-origin: top;
                            display: flex;
                            align-items: center;
                            padding: 0 2rem;
                            border-radius: 0;

                            > i {
                                color: var(--text-color);
                            }

                            input {
                                border-radius: 0;
                                border: 0 none;
                                flex-grow: 1;
                                background-color: transparent;
                                margin: 0 1rem;

                                &:focus {
                                    outline: 0 none;
                                }
                            }
                        }
                    }
                }
                [class*="ph-"] {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
