.layout-breadcrumb-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    height: 2.5rem;
    background-color: var(--surface-card);
    border-bottom: 1px solid var(--surface-border);

    .layout-breadcrumb {
        ol {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 0.5rem;
            flex-wrap: wrap;
            color: var(--text-color-secondary);
            font-weight: 200 !important;
            font-size: small;

            li {
                display: flex;
                align-items: center;
                line-height: 1;
            }
        }
    }

    .layout-breadcrumb-buttons {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        button {
            flex-shrink: 0;
        }
    }

    [class*="ph-"] {
        font-size: 1.25rem;
    }
}
