@use "@fontsource-variable/onest";

html {
    height: 100%;
    font-size: 14px;
}

body {
    font-weight: 400;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: var(--surface-ground);
    color: var(--text-color);
    font-family: "Onest Variable", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d1d5db;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #d1d5db;
    }
}

[title*="."] {
    pointer-events: auto;
}

/* Prevenir que el navegador muestre el tooltip nativo */
[title*="."]::before,
[title*="."]::after {
    content: none !important;
    display: none !important;
}

/* Forzar que no se muestre el tooltip del navegador */
*[title*="."] {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

*[title*="."]:hover::after {
    content: "" !important;
    display: none !important;
}
