.card {
    background-color: var(--surface-card);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 12px;

    box-shadow: none;
    border: 1px solid var(--border-layout-color);

    &:last-child {
        margin-bottom: 0;
    }
}
