:root {
    --primary-color: var(--p-primary-color);
    --primary-color-text: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --border-radius: 0.3rem;
    --layout-section-transition-duration: 0.2s;
    --focus-ring-shadow: var(--p-focus-ring-shadow);

    /* Contrats */
    --p-slate-950: #212121 !important;
    --p-slate-700: #212121 !important;
}
