.card {
    background-color: var(--surface-card);
    padding: 2rem 1rem;
    border-radius: 0.5rem;

    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
}

.app-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.p-overlay-mask {
    backdrop-filter: blur(2px);
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    font-weight: 100;

    // Roles
    &-ADMIN {
        background-color: #fecaca;
    }

    &-MODERATOR {
        background-color: #bfdbfe;
    }

    &-USER {
        background-color: #c7d2fe;
    }

    &-ACTIVE {
        background-color: #a7f3d0;
    }

    &-INACTIVE {
        background-color: #e5e7eb;
    }

    &-PENDING {
        background-color: #fde68a;
    }

    &-SUSPENDED {
        background-color: #fca5a5;
    }

    //errors-http

    &-400 {
        background-color: #fde68a;
    }

    &-401 {
        background-color: #fee2e2;
    }

    &-403 {
        background-color: #fef3c7;
    }

    &-404 {
        background-color: #e0e7ff;
    }

    &-409 {
        background-color: #fae8ff;
    }

    &-422 {
        background-color: #cffafe;
    }

    &-500 {
        background-color: #fecaca;
    }
}

.badge-sm {
    padding: 0.125rem 0.5rem;
    font-size: 0.625rem;
    line-height: 1rem;
}

.badge-md {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.badge-lg {
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.badge-xl {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    line-height: 1.75rem;
}
