.layout-topbar-light {
    --topbar-bg: #ffffff;
    --topbar-start-bg: #ffffff;
    --topbar-menu-button-bg: var(--primary-color);
    --topbar-menu-button-hover-bg: var(--primary-color);
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: var(--primary-color);
    --topbar-item-hover-bg: var(--p-primary-50);
}
