.layout-topbar-dark {
    --topbar-bg: var(--p-surface-900);
    --topbar-start-bg: var(--p-surface-900);
    --topbar-menu-button-bg: var(--p-surface-900);
    --topbar-menu-button-hover-bg: var(--p-surface-800);
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: var(--p-surface-0);
    --topbar-item-hover-bg: var(--p-surface-800);
}
