.layout-menu-light {
    --menu-bg: #ffffff;
    --root-menuitem-text-color: var(--text-color-secondary);
    --menuitem-text-color: var(--text-color);
    --menuitem-hover-bg: var(--p-primary-50);
    --active-menuitem-text-color: var(--p-primary-500);
    --active-menuitem-bg: var(--p-primary-50);
    --inline-menu-border-color: var(--surface-border);
}
